###########################################
# Tell Apache to have PHP parse all 
# CSS files in this directory 
###########################################

AddType application/x-httpd-php .css

###########################################
# Turn on symlinks
###########################################

Options +FollowSymLinks

###########################################
## Allow directory index
###########################################

Options +Indexes

###########################################
## Check for mod_rewrite module
###########################################

<IfModule mod_rewrite.c>

	###########################################
	## Turn rewrite engine on
	###########################################
	
	RewriteEngine On

	###########################################
	## Set the rewrite base URL
	###########################################
	
	RewriteBase /css

	###########################################
	# Rewrite the CSS file URL to a URL with a
	# querystring for PHP
	# URL IN: 	grid-180-12.css
	# URL OUT:	grid.css?grid_1=180&gutter=12
	###########################################
	
	RewriteRule ^grid-([0-9]+)-([0-9]+)\.css$ grid.css?grid_1=$1&gutter=$2

</IfModule>