@import url("ie_all.css");

/* gridContainer_10 bug fix, because Win/IE6 doubles the margin
============================================================= */

/* Fixes Win/IE6 double margin bug when using floats */
.gridContainer_10 .grid_prefix_1
.gridContainer_10 .grid_prefix_2,
.gridContainer_10 .grid_prefix_3,
.gridContainer_10 .grid_prefix_4,
.gridContainer_10 .grid_prefix_5,
.gridContainer_10 .grid_prefix_6,
.gridContainer_10 .grid_prefix_7,
.gridContainer_10 .grid_prefix_8,
.gridContainer_10 .grid_prefix_9,
.gridContainer_10 .grid_suffix_1,
.gridContainer_10 .grid_suffix_2,
.gridContainer_10 .grid_suffix_3,
.gridContainer_10 .grid_suffix_4,
.gridContainer_10 .grid_suffix_5,
.gridContainer_10 .grid_suffix_6,
.gridContainer_10 .grid_suffix_7,
.gridContainer_10 .grid_suffix_8,
.gridContainer_10 .grid_suffix_9,
.gridContainer_10 .grid_first,
.gridContainer_10 .grid_last,
.gridContainer_10 .grid_row {
	display: inline;
	zoom: 1;
}

/* fix for T16 */
.detailContent .grid_row {
	display: block;
}

/* Win/IE6 can't do math!! This fixes width + 2px extra width error on grid columns */
.gridContainer_10 .grid_1,
.gridContainer_10 .grid_2,
.gridContainer_10 .grid_3,
.gridContainer_10 .grid_4,
.gridContainer_10 .grid_5,
.gridContainer_10 .grid_6,
.gridContainer_10 .grid_7,
.gridContainer_10 .grid_8,
.gridContainer_10 .grid_9,
.gridContainer_10 .grid_10,
.gridDetailColumn_1,
.gridDetailColumn_2,
.gridDetailColumn_3,
.gridDetailColumn_4,
.gridDetailColumnSpan_3 {
	overflow: hidden;
}

/* new (nested) grid system for trip detail page, corrections
============================================================= */

.gridDetailContainer_4 .gridDetail_1,
.gridDetailContainer_4 .gridDetail_2,
.gridDetailContainer_4 .gridDetail_3,
.gridDetailContainer_4 .gridDetail_4 {
	position: relative;
}

/* Corrections
============================================================= */

h1 {
	clear: both;
}

/* Fixes Win/IE6 dubplicate character bug */
.gridContainer_10 .grid_last,
.gridContainer_10 .grid_nm_last {
	position: relative;
}

.header .mainNav {
	bottom: -1px;
}

/* tab fix */
.tabs li {
	width: 1%;
	white-space: nowrap; /* whitout this, spaces in the menu items cause the menu item to wrap to more lines */
}

.tabs li a {
	cursor: pointer;
}

/* magic of zoom 1 */
ul.p80jqTabs,
.pageTabs,
.dayTripItem,
.blockType2 .blockBody,
.blockType2 .blockFooter,
.smallTipList .tripItem,
.smallTipList .tripItemHeader,
.detailBlock .detailBlockHeader,
block .blockHeading,
.blockSpecial,
.block .blockFooter,
.block .blockBody {
	zoom: 1;
}

.blockType2 .blockFooter {
	zoom: 1;
}

.blockCorners .blockFooter {
	height: 1%;
}

.searchResults .resultPrice {
	height: 115px;
}

.detailHeader .detailHeaderOverlay {
	background-image: url(../../summum/gfx/detail_header_corner_overlay.gif);
}

/* T02 */
.tripBasic .tripBasicOverlay {
	background-image: url(../../summum/gfx/tripbasic_corner_overlay.gif);
}

/* T02 */
.continentName {
	display: block;
	width: 100%;
}

.tripBasic .tripBasicBody .moreInfo a {
	background-image: url(../../summum/gfx/arrow8.gif);
}

/* T06 */
.normalHeader .detailHeaderOverlay {
	background: url(../../summum/gfx/trip_header_corner_overlay.gif) no-repeat left top;
}

/* T13A */
.mediaBlock .mediaBlockCorners {
	background: url(../../summum/gfx/media_corner_overlay.gif) no-repeat left top;
}

.videoButton {
	background: url(../../summum/gfx/mediablock_player.gif) no-repeat left top;
}

/* review block (sidebar include file)
=========================================================== */

.blockType2 .blockFooter {
	background-position: top left;
}

/* header (homepage) replacement images
=========================================================== */

.carrousel span.tl{
	background-image: url(../../summum/gfx/tripitem_overlay_top_left.gif);
}
.carrousel span.tr{
	background-image:  url(../../summum/gfx/tripitem_overlay_top_right.gif);
}
.carrousel span.bl{
	bottom:-11px;
	background-image: url(../../summum/gfx/tripitem_overlay_bottom_left.gif);
}
.carrousel span.br{
	bottom:-11px;
	background-image: url(../../summum/gfx/tripitem_overlay_bottom_right.gif);
}

/* sub sidebar block headers (T03)
=========================================================== */

.gridDetailContainer_4 .detailBlockStandard .detailBlockHeader {
	padding-left: 16px;
}

.gridDetailContainer_4 .detailBlockStandard .detailBlockBody {
	overflow: hidden;
	width: 157px;
}

/* review block (T03)
=========================================================== */

.detailBlockReview .detailBlockBody {
	padding-left: 16px;
	padding-right: 16px;
}

/* extra info about continent (T02)
=========================================================== */

.continentName .moreInfo {
	margin-bottom: 10px;
	top: 5px;
}