###########################################
## Check for mod_rewrite module
###########################################

<IfModule mod_rewrite.c>

	###########################################
	## Turn rewrite engine on
	###########################################
	
	RewriteEngine On

	###########################################
	## Set the rewrite base URL
	###########################################
	
	RewriteBase /

	###########################################
	# Rewrite common URL's
	###########################################
	
	RewriteRule ^advanced-example/?$ advanced_example.php
</IfModule>

###########################################
## Send UTF-8 header for text files
###########################################

<FilesMatch "\.(html?|css|js)$">
	AddDefaultCharset UTF-8
	DefaultLanguage en-US
</FilesMatch>

########################################
## Compress these file-types before sending
########################################

<IfModule mod_deflate.c>
	<FilesMatch "\.(js|css)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

########################################
## Sent default expire headers
########################################

<IfModule mod_expires.c>
	<FilesMatch "\.gif|jpe?g|png$">
		ExpiresActive On
		Header set Expires "access plus 1 month"
	</FilesMatch>
</ifModule>

########################################
## Check for mod_headers module
########################################

<IfModule mod_headers.c>

	########################################
	## Disable ETags
	########################################

	Header unset ETag
	FileETag None

	########################################
	## Client side caching
	########################################
	
	<FilesMatch "\.(xml|txt|html?|js|css)$">
		Header append Cache-Control "proxy-revalidate"
	</FilesMatch>
	
	<FilesMatch "\.(jpe?g|png|gif|swf)$">
		Header append Cache-Control "public"
	</FilesMatch>
</ifModule>