/*
	Title:      Screen styles
	Author:     D. Burger
	Copyright:  D. Burger, 2010
*/

/* common 
============================================================= */

body {
	background-color: #eee;
	font-family:Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 12px;
	line-height: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Verdana, Times;
	color: #00ABC7;
}

h1 {
	font-size: 22px;
}

h5 {
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 20px 0 5px 0;
	clear: both;
}

a {
	color: #C75900;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type="text"] {
	text-align: center;
	width: 35px;
	padding: 5px;
}

/* wrapper
============================================================= */

#wrapper,
.bodyCopy {
	margin: 0 auto;
}

.fullWidth {
	height: 50px !important;
}

/* body copy
============================================================= */

.bodyCopy {
	width: 800px;
	text-align: center;
	margin-bottom: 10px;
}

/* formElements
============================================================= */

.formElements label {
	display: inline-block;
	width: 130px;
}

.formElements input {
	margin-right: 20px;
}

/* layout things
============================================================= */

.contentCentered span,
.grid_row span {
	display: block;
	color: #333;
	font-size: 14px;
	font-family: Georgia, Verdana, Times;
}

.menu span {
	display: inline-block;
	margin: 0 10px;
}

.longDemo .grid_1 {
	height: 500px !important;
}

/* footer
============================================================= */

.footer {
	clear: both;
	margin-top: 20px;
	border-top: 1px dashed #666;
}

.footer .itemsLeft {
	float: left;
	width: 45%;
	text-align: left;
}

.footer .itemsRight {
	float: right;
	width: 45%;
	text-align: right;	
}
