###########################################
# Turn on symlinks
###########################################

Options +FollowSymLinks

###########################################
## Allow directory index
###########################################

Options +Indexes

###########################################
## Check for mod_rewrite module
###########################################

<IfModule mod_rewrite.c>

	###########################################
	## Turn rewrite engine on
	###########################################
	
	RewriteEngine On

	###########################################
	## Set the rewrite base URL
	###########################################
	
	RewriteBase /themes/base/css
	
	###########################################
	## Fallback rewrite URL
	###########################################
	
	RewriteRule ^grid.css$ grid.css.php

	###########################################
	# Rewrite the CSS grid file URL
	# to a URL with a querystring for PHP
	# Example:	grid-numberOfColumns-columnWidth-gutterWidth.css
	# URL IN: 	grid-10-180-12.css
	# URL OUT:	grid.css.php?columns=10&grid_1=180&gutter_width=12
	###########################################
	
	RewriteRule ^grid-([0-9]+)-([0-9]+)-([0-9]+)\.css$ grid.css.php?columns=$1&grid_1=$2&gutter_width=$3
</IfModule>