/* grid bug fix, because Win/IE6 doubles the margin
============================================================= */

/* Fixes Win/IE6 double margin bug when using floats */
.grid_prefix_1
.grid_prefix_2,
.grid_prefix_3,
.grid_prefix_4,
.grid_prefix_5,
.grid_prefix_6,
.grid_prefix_7,
.grid_prefix_8,
.grid_prefix_9,
.grid_suffix_1,
.grid_suffix_2,
.grid_suffix_3,
.grid_suffix_4,
.grid_suffix_5,
.grid_suffix_6,
.grid_suffix_7,
.grid_suffix_8,
.grid_suffix_9,
.grid_first,
.grid_last,
.grid_row {
	display: inline;
	zoom: 1;
}

/* Win/IE6 can't do math!! This fixes width + 2px extra width error on grid columns */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10 {
	overflow: hidden;
}

/* Full width */
.grid_row {
	width: 100%;
}